<footer class="site-footer p2">
  <div class="container">
    <div class="clearfix m2">
      <div class="sm-col sm-col-10">
        <h2 class="footer-heading">{{ site.github_username }}</h2>
        <p class="text">{{ site.description }}</p>
      </div>
      <div class="sm-col sm-col-2 social py2">  
      {% if site.github_username %} 
        <a href="https://github.com/{{ site.github_username }}" class="h1 px1">&#xf1c9;</a>&nbsp;
      {% endif %}
      {% if site.twitter_username %}
        <a href="https://twitter.com/{{ site.twitter_username }}" class="h1 px1">&#xf1e4;</a>&nbsp;
      {% endif %}
        <a href="https://www.linkedin.com/in/bartdebunne" class="h1 px1">&#xf1d0;</a>&nbsp;
        <a href="mailto:{{ site.email }}" class="h1 px1">&#xf16d;</a>
      </div>
    </div>
  </div>
</footer>
{% if page.layout == 'productdetails' %}
<div class="modal-wrapper" data-modal="wrapper">
  <div class="modal-content">
    {% include form.html %}
  </div>
</div>
{% endif %}

