<script>
    var contactForm = document.querySelector('form'),
    inputEmail = contactForm.querySelector('[name="email"]'),
    inputSubject = contactForm.querySelector('[name="_subject"]')
    textAreaMessage = contactForm.querySelector('[name="message"]'),
    sendButton = contactForm.querySelector('[type="submit"]'),
    closeButton = contactForm.querySelector('[data-modal="close"]');
    sendButton.addEventListener('click', function(event){
      event.preventDefault();
      sendButton.innerHTML = '{{ site.text.contact.ajax.sending }}';
      var xhr = new XMLHttpRequest();
      xhr.open('POST', '//formspree.io/{{ site.email }}', true);
      xhr.setRequestHeader("Accept", "application/json")
      xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded")
      xhr.send(
        "_subject=" + inputSubject.value +
        "&email=" + inputEmail.value +
        "&message=" + textAreaMessage.value);
      xhr.onloadend = function (res) {
        if (res.target.status === 200){
          sendButton.innerHTML = '{{ site.text.contact.ajax.sent }}';
          closeButton.innerHTML = 'x Sluiten';
        }
        else {
          sendButton.innerHTML = '{{ site.text.contact.ajax.error }}';
        }
      }
    });
    
   $("#contactform").validate();
    
</script>