    <meta property="og:title" content="{{page.name}}"/>
    <meta property="og:type" content="product"/>
    <meta property="og:url" content="{{page.url | prepend: site.baseurl | prepend: site.url}}"/>
    <meta property="og:image" content="{{page.images[0] | prepend: site.src }}"/>
    <meta property="og:site_name" content="{{site.title}}"/>
    <meta property="fb:admins" content="1145400867"/>
    <meta property="og:description" content="{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}"/>