---
layout: default
head:
  - twittercard.html
  - ogtags.html
---
<h2 class="product-name">{{ page.title }}</h2>

{% assign items = page.images.size %}
{% assign i = 1 %}

<div class="product-details clearfix">
  <div class="gallery items-{{ items }} sm-col sm-col-6">
    {% for i in (1..items) %}
    <div id="item-{{i}}" class="control-operator"></div>
    {% endfor %}
    
    {% for image in page.images %}
    <figure class="item">
      <img src="{{ image | prepend: site.src }}" alt="{{ page.name }}" class="thumbnail" />
    </figure>
    {% endfor %}
    <div class="controls center">
      {% for i in (1..items) %}
      <a href="#item-{{i}}" class="control-button">•</a>
      {% endfor %}
    </div>
  </div>
  <div class="sm-col sm-col-6 product-description pl2">
    <div class="flex flex-baseline">
      <div class="flex-auto">
        <h3 class="h1">{{ page.price }}€</h3>
      </div>
      <div>
        <button class="btn btn-primary mb1 bg-blue regular" data-modal="open">
          Kopen of bod doen
        </button>
      </div>
    </div>
    
    <p class="h6 italic">{{page.status}}</p>
    {{ page.excerpt }}
    
    {% if page.features != null %}<ul>
      {% for feature in page.features %}
      <li>{{feature[0]}}: {{feature[1]}}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>

  <div class="sm-col sm-col-12 product-description mt2">
    {{ page.content | remove_first:page.excerpt }}
  </div>
  
  <div class="sm-col sm-col-12 product-description mt2">
    <h2>Meer informatie</h2>
    <ul>{% for link in page.links %}
      <li><a href="{{link[1]}}">{{link[0]}}</a></li>{% endfor %}
    </ul>
  </div>

</div>
