---
layout: default
head:
  - twittercard.html
  - ogtags.html
---
<div class="product-details clearfix">
  <div class="sm-col sm-col-6">
    <img src="{{ page.image }}" alt="{{ page.name }}" class="thumbnail"/>
  </div>
  <div class="sm-col sm-col-6 product-description pl2">
    <h2 class="product-name">{{ page.name }}</h2>
    <p class="h6 italic">Staat: {{page.status}}
    <p>
      {{ page.content }}
    </p>

    <button class="btn btn-primary mb1 bg-blue regular">
      Vraagprijs {{ page.price }} €
    </button>
  </div>
</div>
